
<div class="row">
  <div class="small-4 medium-6 large-12">
    <h1>Question Details: </h1>
    <h2>Title: <%= @question.title %></h2>
    <h5>Asked by: <%= @question.user.email %></h5>
    <h5>Question Content:</h5>
        <p>
          <%= @question.body %>
        </p>
      <div class="row">
        <div class="large-12 columns">

          <div class="row">
              <div class="large-12 columns">
                <%= link_to("All Questions", questions_path) %>
              </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= link_to 'Delete Question',
                        '/questions/' + @question.to_param,
                        method: :delete %>
                        <br>
            </div>
          </div>
        </div>
      </div>


        <% @answers.each do |answer| %>
          <%= content_tag(:div, class: "answer") do %>
            <%=content_tag(:div, content_tag(:p, 'Answer: ' + answer.description ), class: "answer-description") %>
            <%=content_tag(:div, content_tag(:p, 'From: ' + answer.user.email ), class: "answer-user") %>
          <% end %>
        <% end %>



      <div class="row">
        <div class="large-12 columns">

          <%= link_to("Add an Answer", @question.id.to_s + "/answers/new") %>
        </div>

      </div>



  </div>
</div>
