

<h1>Add Answer</h1>
<h3>Question: <%= @question.title %> </h3>
<ul>



<% @answer.errors.messages.each do |item, error| %>
  <%= content_tag(:div, content_tag(:li, "#{item} #{error[0]}"), class: "errors") %>
<% end %>
</ul>



Answer form:
<%= form_for [@question, @answer] do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %>


  <%= f.submit "Submit Answer" %>

<% end %>
